<nav class="navbar">
    <div class="logo">
        <a href="/employer/dashboard">Dream Jobs Portal</a>
    </div>

    <ul class="nav-links">
        <li><a href="/employer/dashboard">Dashboard</a></li>
        <li><a href="/employer/post-job">Post Job</a></li>
        <li><a href="/employer/jobs">Manage Jobs</a></li>
        <li><a href="/logout" class="logout">Logout</a></li>
    </ul>
</nav>